.svg-icon-cart-dims {
	width: 18px;
	height: 24px;
}

.svg-icon-clients-dims {
	width: 44px;
	height: 44px;
}

.svg-icon-coffee-dims {
	width: 48px;
	height: 44px;
}

.svg-icon-develop-dims {
	width: 42.875px;
	height: 39.19px;
}

.svg-icon-folder-dims {
	width: 50.88px;
	height: 35.63px;
}

.svg-icon-launch-dims {
	width: 54px;
	height: 44px;
}

.svg-icon-like-dims {
	width: 44px;
	height: 44px;
}

.svg-icon-link-dims {
	width: 24.625px;
	height: 24.62px;
}

.svg-icon-list-dims {
	width: 21px;
	height: 21px;
}

.svg-icon-lupa-dims {
	width: 25.157px;
	height: 24.47px;
}

.svg-icon-pencil-dims {
	width: 47.594px;
	height: 47.59px;
}

.svg-icon-play-dims {
	width: 69.969px;
	height: 69.97px;
}

.svg-icon-play2-dims {
	width: 40px;
	height: 40px;
}

.svg-icon-post-dims {
	width: 44px;
	height: 44px;
}

.svg-icon-posts-arrow-left-dims {
	width: 21.969px;
	height: 21.97px;
}

.svg-icon-posts-arrow-right-dims {
	width: 21.969px;
	height: 21.97px;
}

.svg-icon-search-dims {
	width: 24px;
	height: 24px;
}

.svg-icon-setting-dims {
	width: 43.56px;
	height: 43.57px;
}

.svg-icon-slider-left-dims {
	width: 40px;
	height: 72.938px;
}

.svg-icon-slider-right-dims {
	width: 40px;
	height: 72.938px;
}

.svg-logo-dims {
	width: 63.031px;
	height: 55.125px;
}

